body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 90%;
}
#carousel,
#carousel-containe {
  display: none;
}
.carousel-svg {
  width: 4em;
}
h1 {
  text-align: center;
  color: var(--blue);
}
#fisrt-paragraph {
  font-weight: bold;
}
p {
  text-align: justify;
}
h1,
p {
  padding: 1em 0em;
}
img {
  border-radius: 10px;
}
#play-set,
#spiral-set {
  height: auto;
  width: 80vw;
  max-width: 400px;
}

#pictures-container,
.picture-container {
  display: flex;
  justify-content: center;
  margin: 1em 0em;
}
.buying-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em 0em;
}
.buy-button {
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  border-radius: 25px;
  font-size: 1.4em;
  padding: 0.6em;
  font-weight: 600;
}
.game-picture {
  height: auto;
  width: 80vw;
  max-width: 400px;
}
.video-container {
  display: flex;
  justify-content: center;
  margin: 2em 0em;
}
iframe {
  width: 80vw;
  height: 45vw;
  max-width: 691px;
  max-height: 389px;
}
.secondary-pictures {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  margin: 0.25em;
}

.line {
  width: 100%;
  height: 4px;
  background-color: black;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding-bottom: 3vw;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.25em;
}

.purple-link {
  color: var(--purple);
  font-weight: bold;
}

.blue-link {
  color: var(--blue);
  font-weight: bold;
}
.orange-link {
  color: var(--orange);
  font-weight: bold;
}
.green-link {
  color: var(--green);
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
  width: 70vw;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.8s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.nav-links.active {
  display: flex;
  opacity: 1;
  max-height: 800px;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#facebook-button {
  margin: 1em;
}
#facebook-button > img {
  width: 10vw;
}

#facebook {
  justify-self: flex-end;
}
.navbar-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  #carousel {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    border-radius: 0px;
  }
  #carousel-container {
    display: block;
    position: relative;
  }
  h1 {
    text-align: left;
    width: 90%;
  }
  p {
    font-size: 1.1em;
  }
  .secondary-pictures {
    display: flex;
    flex-direction: column;
    gap: 2%;
  }
  .other-picture {
    height: 22vw;
    width: auto;
    max-width: 331px;
    max-height: 220px;
  }
  #play-set {
    height: 45vw;
    width: auto;
    max-width: 450px;
    max-height: 450px;
  }
  #pictures-container {
    gap: 0.5em;
  }
  .picture-container {
    display: none;
  }
  .video-container {
    margin: 3em 0em;
  }
  .buying-container {
    gap: 2em;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    width: 100%;
    justify-content: space-between;
    max-height: none;
    opacity: 1;
  }

  .nav-links li {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  #facebook {
    display: none;
  }
  .burger {
    display: none;
  }

  #banner {
    display: none;
  }

  .nav-links li a {
    text-decoration: none;
    font-size: 1em;
  }

  .navbar-mobile {
    width: 100%;
  }

  #nav-buy {
    display: none;
  }

  #green-desktop {
    color: var(--green);
  }
  header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  #text-pictures {
    display: flex;
    flex-direction: row-reverse;
    gap: 3%;
    margin-top: 2em;
  }
  main,
  h1 {
    max-width: 1160px;
  }
  #pictures-container {
    width: 58%;
    margin: 0;
    max-height: 383px;
  }
  #play-set {
    height: 100%;
  }
  .other-picture {
    height: 49%;
  }
  #second-paragraph {
    padding-top: 0;
  }
  #last-part {
    display: flex;
    justify-content: space-between;
  }
  #last-text {
    width: 55%;
  }
  .game-picture {
    max-width: 383px;
  }
  .buying-container {
    padding-right: 1.5em;
  }
}
