:root {
  --orange: #d42f0d;
  --green: #006c38;
  --blue: #28318a;
  --purple: #900084;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "proximanova_regular";
  src: url("./assets/fonts/proximanova_regular.ttf") format("truetype");
}

h1,
h2,
h3,
p,
a,
button,
li {
  font-family: "proximanova_regular";
}
