:root {
  --orange: #d42f0d;
  --green: #006c38;
  --blue: #28318a;
  --purple: #900084;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "proximanova_regular";
  src: url("./assets/fonts/proximanova_regular.ttf") format("truetype");
}

h1,
h2,
h3,
p,
a,
button,
li {
  font-family: "proximanova_regular";
}

body {
  background:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4))  ,url(assets/images/trame-batarde.webp);
}

.nav-links {
  background-color: white;
}


@media screen and (min-width: 768px) {

  .nav-links {
    background-color: transparent;
  }
}