body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: var(--blue);
  padding: 1em 0em;
}

h3 {
  text-align: center;
  color: var(--orange);
  padding: 1em 0em;
}

p {
  width: 80vw; /* Même largeur que les images */
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
  padding: 1em 0em;
}

img {
  display: block;
  margin: 1em auto;
  height: auto;
  width: 80vw;
  max-width: 400px;
  border-radius: 10px;
}

#locations h4 {
  margin-top: 1.5em;
  width: 80vw; /* Même largeur que les images et paragraphes */
  max-width: 400px;
  margin: 0 auto; /* Centrer les titres */
  text-align: left; /* Garde le texte aligné à gauche à l'intérieur */
}

#locations ul {
  width: 80vw; /* Même largeur que les images et textes */
  max-width: 400px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  text-align: left;
}

#locations ul li {
  margin-bottom: 0.5em;
}

#locations ul li a {
  display: inline-block;
  padding-left: 0; /* Aligner les liens à gauche avec les h4 */
}

#locations ul li a:hover {
  background-color: var(--orange);
  color: white;
}

a {
  text-decoration: none;
}
