body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: var(--blue);
  padding: 1em 0em;
}

h2 {
  text-align: center;
  color: var(--orange);
  padding: 1em 0em;
}

p {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
  padding: 1em 0em;
}

img {
  display: block;
  margin: 1em auto;
  height: auto;
  width: 80vw;
  max-width: 400px;
  border-radius: 10px;
}

#locations h4 {
  margin-top: 1.5em;
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

#locations ul {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  text-align: left;
}

#locations ul li {
  margin-bottom: 0.5em;
}

#locations ul li a {
  display: inline-block;
  padding-left: 0;
}

#locations ul li a:hover {
  background-color: var(--orange);
  color: white;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  h1 {
    text-align: center;
    width: 90%;
  }

  p {
    font-size: 1.1em;
  }

  img {
    width: 70vw;
    max-width: 450px;
    max-height: 450px;
  }
}

@media screen and (min-width: 1200px) {
  main,
  h1 {
    max-width: 1160px;
  }

  img {
    width: 80vw;
    max-width: 800px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 1.3em;
    width: 80vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #locations h4 {
    font-size: 1.5em;
    width: 80vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #locations ul {
    width: 80vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #locations ul li a {
    font-size: 1.2em;
  }
}
