/* ================= MAIN ================= */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

main {
  width: 90%;
  flex-grow: 1;
  padding-bottom: 100px;
}
/* ================= CAROUSEL ================= */
#carousel,
#carousel-container {
  display: none;
}

.carousel-svg {
  width: 4em;
}
/* ================================== */
h1 {
  margin: 1em 0em;
  text-align: center;
  color: var(--blue);
}

p {
  text-align: justify;
}

img {
  border-radius: 10px;
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-button {
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  border-radius: 25px;
  font-size: 1.4em;
  padding: 0.6em;
  font-weight: 600;
}

.game-picture {
  height: auto;
  width: 80vw;
  max-width: 400px;
}

#new-edition-text {
  margin: 1em 0em 1.2em;
  text-align: center;
}

.new-edition {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

.actu {
  margin: 2.5em 0em 0em;
  display: flex;
  justify-content: center;
}

.actu img {
  width: 100%;
  max-width: 550px;
  height: auto;
}

#grand-prix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em 0em;
}

iframe {
  width: 80vw;
  height: 45vw;
  max-width: 691px;
  max-height: 389px;
  margin-bottom: 1.5em;
}

.flag-container {
  display: flex;
  justify-content: space-between;
  margin: 0.7em 0em;
}

.game-rules {
  width: 17vw;
  height: 100%;
  text-align: center;
  font-size: 0.8em;
}

.flag {
  width: 8vw;
  max-width: 154px;
  height: 100%;
  border-radius: 0;
}

.langues {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
}

#rules-text {
  font-size: 0.9em;
  text-align: center;
}

#logo-principal {
  display: none;
}


/* ================= HEADER ================= */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  margin: 0.25em;
}

.line {
  width: 100%;
  height: 4px;
  background-color: black;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding-bottom: 3vw;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.25em;
}

.purple-link {
  color: var(--purple);
  font-weight: bold;
}

.blue-link {
  color: var(--blue);
  font-weight: bold;
}

.orange-link {
  color: var(--orange);
  font-weight: bold;
}

.green-link {
  color: var(--green);
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 0;
  width: 70vw;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.8s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.nav-links.active {
  display: flex;
  opacity: 1;
  max-height: 800px;
  padding-top: 0.5em;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.facebook-button {
  margin: 1em;
}

.facebook-button > img {
  width: 10vw;
  max-width: 50px;
}

#facebook {
  justify-self: flex-end;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.clover,
.square,
.spade,
.heart {
  display: none;
}

#banner {
  width: 40vw;
  max-width: 200px;
}

#desktop-logo {
  display: none;
}

#logo-desktop {
  padding-bottom: 0;
}
/* ================= FOOTER ================= */
footer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 0.2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  flex-direction: column;
}

#footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 5vh;
}

#footer-links li {
  flex: 1;
  text-align: center;
  margin: 0;
}

#footer-links img {
  width: 25px;
  vertical-align: middle;
}

#footer-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#jam-dev {
  display: flex;
  list-style-type: none;
  font-size: 0.7em;
  padding: 0.5rem;
  background-color: white;
  width: 100%;
  justify-content: center;
}

#jam-dev a {
  text-decoration: none;
  color: black;
}
/* =================      ================= */

@media screen and (min-width: 768px) {
  #carousel {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    border-radius: 0px;
  }

  #carousel-container {
    display: block;
    position: relative;
  }

  #logo {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
  }

  iframe {
    margin-bottom: 2em;
  }

  #rules-text {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    width: 100%;
    justify-content: space-around;
    max-height: none;
    opacity: 1;
  }

  #facebook {
    display: none;
  }

  .burger {
    display: none;
  }

  #banner {
    display: none;
  }

  .nav-links li a {
    text-decoration: none;
    font-size: 1em;
  }

  .navbar-mobile {
    width: 100%;
    margin-bottom: 0.5em;
  }

  #nav-buy {
    display: none;
  }

  #green-desktop {
    color: var(--green);
  }

  header {
    display: flex;
    flex-direction: column;
  }

  #footer-facebook {
    display: block;
  }

  .nav-links > li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clover,
  .square,
  .heart,
  .spade {
    display: flex;
    width: 2vw;
    margin-top: 1em;
  }

  #desktop-logo {
    display: flex;
    width: 10vw;
  }

  .nav-links li {
    padding-bottom: 0;
  }

  #logo-principal {
    width: 50vw;
    align-self: center;
    margin-bottom: 3em;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 1.3em;
  }

  main {
    max-width: 1160px;
  }

  #wrap {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
  }

  .new-edition {
    width: 47%;
  }

  .game-picture {
    max-width: 500px;
  }

  .actu {
    width: 51%;
  }

  iframe {
    margin-bottom: 2.5em;
  }

  .actu {
    margin: 1.5em 0em;
  }

  .game-rules {
    width: 100%;
  }

  #footer-links {
    width: 70%;
  }
}
