body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#software-version-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  color: var(--blue);
}

p {
  text-align: justify;
}
h1,
h2,
p {
  padding: 1em 0em;
}
img {
  border-radius: 10px;
  width: 80vw;
  max-width: 400px;
}

.download-button {
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  border-radius: 25px;
  font-size: 1.4em;
  padding: 0.6em;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  margin: 0.25em;
}

.line {
  width: 100%;
  height: 4px;
  background-color: black;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding-bottom: 3vw;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.25em;
}

.purple-link {
  color: var(--purple);
  font-weight: bold;
}

.blue-link {
  color: var(--blue);
  font-weight: bold;
}
.orange-link {
  color: var(--orange);
  font-weight: bold;
}
.green-link {
  color: var(--green);
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
  width: 70vw;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.8s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.nav-links.active {
  display: flex;
  opacity: 1;
  max-height: 800px;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#facebook-button {
  margin: 1em;
}
#facebook-button > img {
  width: 10vw;
}

#facebook {
  justify-self: flex-end;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
    width: 90%;
  }
  p {
    font-size: 1.1em;
  }

  h2 {
    text-align: center;
  }

  #software-version-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  #software-version {
    grid-row: 1/5;
    align-self: center;
  }
  .download-button {
    width: 20vw;
    text-align: center;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    width: 100%;
    justify-content: space-between;
    max-height: none;
    opacity: 1;
  }

  .nav-links li {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  #facebook {
    display: none;
  }
  .burger {
    display: none;
  }

  #banner {
    display: none;
  }

  .nav-links li a {
    text-decoration: none;
    font-size: 1em;
  }

  .navbar-mobile {
    width: 100%;
  }

  #nav-buy {
    display: none;
  }

  #green-desktop {
    color: var(--green);
  }
}
@media screen and (min-width: 1200px) {
  main,
  h1 {
    max-width: 1160px;
  }
}
